Create a Jupyter Notebook where, in separate cells, you define functions that return sin(x) and cos(x). 
Use Markdown cells to comment your Notebook, and describe what each function does. Create a third Python 
cell that will tabulate sin(x) and cos(x) using these previously defined functions vs. x, where x is 
tabulated between 0 and 2 with a thousand entries. Write a fourth Python cell that will use a for loop 
to print out the first 10 values of x, sin(x), and cos(x) in columns.

In [20]:
import numpy as np

Sin(x) Function

In [21]:
def sin(x):
    return np.sin(x)

Cos(x) Function

In [22]:
def cos(x):
    return np.cos(x)

Tabulate Function

Create sin(x) and cos(x) columns. Compile x, sin(x), and cos(x) into an array. Formatted for 3 decimals.

In [23]:
def tabulate_data(x):
    sinx = sin(x)
    cosx = cos(x)
    
    table_data = [
        [f"{a:.3f}", f"{b:.3f}", f"{c:.3f}"]
        for a, b, c in zip(x, sinx, cosx)]
    
    return table_data

Main (Print 10 rows of x, sin(x), cos(x))

Uses np.linspace to create x array. Calls tabulate_data(). Prints a header. For loop to print first 10 rows.

In [27]:
x = np.linspace(0,2*np.pi,1000)
table_data = tabulate_data(x)

print("+-------+----------+----------+")
print("|     x |   sin(x) |   cos(x) |")
print("+-------+----------+----------+")

for i in range(10):
    j = table_data[i]
    print(f"|{j[0]:>6} |{j[1]:>9} |{j[2]:>9} |")
    print("+-------+----------+----------+")

+-------+----------+----------+
|     x |   sin(x) |   cos(x) |
+-------+----------+----------+
| 0.000 |    0.000 |    1.000 |
+-------+----------+----------+
| 0.006 |    0.006 |    1.000 |
+-------+----------+----------+
| 0.013 |    0.013 |    1.000 |
+-------+----------+----------+
| 0.019 |    0.019 |    1.000 |
+-------+----------+----------+
| 0.025 |    0.025 |    1.000 |
+-------+----------+----------+
| 0.031 |    0.031 |    1.000 |
+-------+----------+----------+
| 0.038 |    0.038 |    0.999 |
+-------+----------+----------+
| 0.044 |    0.044 |    0.999 |
+-------+----------+----------+
| 0.050 |    0.050 |    0.999 |
+-------+----------+----------+
| 0.057 |    0.057 |    0.998 |
+-------+----------+----------+